<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>Try Void Scribe!</title>
	<!-- <script type="text/javascript" src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script> -->
	<!-- <script src="{{url_for('static', filename='node_modules/xmlhttprequest/lib/XMLHttpRequest.js')}}"></script> -->
	<script type="text/javascript" src="{{url_for('static', filename='void_web_helper.js')}}"></script>
	<style>
		.dropdown {
			position: relative;
			display: inline-block;
		}

		.dropdown-search {
			display: none;
			position: absolute;
			background-color: #f6f6f6;
			min-width: 230px;
			overflow: auto;
			border: 1px solid #ddd;
			z-index: 1;
		}

		.dropdown-search a {
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
		}

		.dropdown a:hover {
			background-color: #ddd;
		}

		.read-only {
			background-color: #ddd;
		}

		#readonlyAPI {
			min-width: 330px;
			max-width: 500px;
		}

		.show {
			display: block;
		}
	</style>
</head>

<body>
	<h2>Try Void Scribe!</h2>
	Generate:
	<input type="radio" name="generateType" id="radioNames" value="Name Generator" 
		onclick="switchView('NameView'), populateAPIfields()" checked>Names
	<input type="radio" name="generateType" id="radioPrompts" value="Prompt Generator"
		onclick="switchView('PromptView'), populateAPIfields()">Prompts
	<br>

	<textarea class="read-only" id="readonlyAPI" name="API endpoint" value="API endpoint" 
		oninput='this.style.width = this.style.min-width;this.style.width = this.scrollWidth + "px"' 
		onclick="copyToClipboard(this.id)" readonly></textarea>
	<br>
	<textarea class="read-only" id="readonlyJSON" name="JSON" value="JSON" 
		oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' readonly></textarea>
	<p id="NameView" class="View" style="display: block;">
		<input id="radioGenerate" type="radio" name="nametype" value="Generate" onclick="populateAPIfields()" checked>Generate
		<input id="radioRetrieve" type="radio" name="nametype" value="Retrieve" onclick="populateAPIfields()">Retrieve
		<br>
		<span class="dropdown" >
			<input type="text" placeholder="Search.." id="nameTypeSearch" class="search"
				onkeyup="filterFunction(this.id, 'dropdown-names')" onblur="hideElement('dropdown-names'), populateAPIfields()" onfocus="showElement('dropdown-names')">
			<span id="dropdown-names" class="dropdown-search" >
				{% for name in nameTypes %}
				<a href="#{{name}}" onclick="populateSearch('nameTypeSearch', this.innerHTML)">{{name}}</a>
				{% endfor %}
			</span>
		</span>
		<input id="numNames" type="number" name="quantity" min="1" max="50" step="1" value="5" oninput="populateAPIfields()">
		<br>
		<textarea class="output" id="outputNames" placeholder="Pacman, Inky, Pinky, Blinky, Clyde"
			oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>
		<!-- {% for nameType in nameTypes %}
			{{nameType}}<br>
			{% endfor %} -->
	</p>
	<p id="PromptView" class="View" style="display: none;">
		<span class="dropdown" >
			<input type="text" placeholder="Search.." id="promptTypeSearch" class="search"
				onkeyup="filterFunction(this.id, 'dropdown-prompts')" onblur="hideElement('dropdown-prompts'), populateAPIfields()" onfocus="showElement('dropdown-prompts')">
			<span id="dropdown-prompts" class="dropdown-search">
				{% for prompt in promptTypes %}
				<a href="#{{prompt}}" onclick="populateSearch('promptTypeSearch', this.innerHTML)">{{prompt}}</a>
				{% endfor %}
			</span>
		</span>
		<input id="numPrompts" type="number" name="quantity" min="1" max="10" step="1" value="1" oninput="populateAPIfields()">
		<br>
		<textarea class="output" id="outputPrompts" placeholder="Somebody once told me the world was gonna roll me
I aint the sharpest tool in the shed. 
She was looking kind of dumb 
with her finger and her thumb 
in the shape of an L on her forehead
Well, the years start coming 
and they don't stop coming
and they don't stop coming
and they don't stop coming
and they don't stop coming
and they don't stop coming
and they don't stop coming
and they don't stop coming
and they don't stop coming
and they don't stop coming
and they don't stop coming" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>
	</p>
	<input type="button" id="buttonGenerate" value="Generate" onclick="generateOutput()">
</body>

</html>