<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Try Void Scribe!</title>
    <script src="/Enviorment/scripts/tryit.js"></script>
    <style>
        .search{
            box-sizing: border-box;
            background-image: 'searchicon.png';
            background-position: 14px 12px;
            background-repeat: no-repeat;
            font-size: 16px;
            padding: 14px 20px 12px 45px;
            border: none;
            border-bottom: 1px solid #ddd;
        }
    </style>
  </head>
  <body>
    <h2>Try Void Scribe!</h2>
    Generate: 
    <input type="radio" name="type" id="radioNames" value="Name Generator" onclick="switchView('Name')" checked>Names
    <input type="radio" name="type" id="radioPrompts" value="Prompt Generator" onclick="switchView('Prompt')">Prompts
    <br>
    
    <input type="text" name="API endpoint" value="API endpoint" readonly>
    <input type="text" name="JSON" value="JSON" readonly>
    <p id="Name" class="View" style="display: block;">
        <input type="radio" name="nametype" value="Generate" checked>Generate
        <input type="radio" name="nametype" value="Retrieve">Retrieve
        <br>
        <input type="text" placeholder="Search.." id="nameTypeSearch" class="search" onkeyup="filterFunction(this.id)">
        <input type="number" name="quantity" min="1" max="50" step="1" value="5">
        <br>
        <textarea class="output" id="outputNames" placeholder="Pacman, Inky, Pinky, Blinky, Clyde"></textarea>
      <!-- {% for nameType in nameTypes %}
      {{nameType}}<br>
      {% endfor %} -->
    </p>
    <p id="Prompt" class="View" style="display: block;">
        <input type="text" placeholder="Search.." id="nameTypeSearch" class="search" onkeyup="filterFunction(this.id)">
        <input type="number" name="quantity" min="1" max="10" step="1" value="1">
        <br>
        <textarea class="output" id="outputPrompts" 
        placeholder="Somebody once told me the world was gonna roll me
I aint the sharpest tool in the shed. 
She was looking kind of dumb 
with her finger and her thumb 
in the shape of an L on her forehead
Well, the years start coming 
and they don't stop coming
and they don't stop coming
and they don't stop coming
and they don't stop coming
and they don't stop coming
and they don't stop coming
and they don't stop coming
and they don't stop coming
and they don't stop coming
and they don't stop coming" 
        oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'
        ></textarea>


    </p>
    <input type="button" id="buttonGenerate" value="Generate">
  </body>
</html>
