<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>home.html</title>
    <style type="text/css">
#Base {
  background-color: rgba(255, 255, 204, 0.27);
}

#Title {
  color: #663366;
}

</style></head>
  <body id="Base">
    <h2 style=" text-align: center;">Welcome To </h2>
    <h1 style="text-align: center;" id="Title">Void Scribe</h1>
    <p style="text-align: center;">About:</p>
    <p style="text-align: center;">Void Scribe is a publicly available API that
      currently supports basic generation of names through Markov Generation as
      well as creation of basic myth, quest, adjective, hero, and tale
      structures. Void Scribe will be developed into a publicly available
      Narrative Generation API. Void Scribe is being developed as part of a
      school project by team MachineLearningMadlads.</p>
    <p style="text-align: center;">Source Code:</p>
    <p style="text-align: center;"><a href="https://github.com/GermanMoFo/Void-Scribe"
        title="Github - Void Scribe" target="_blank">Python Package</a> - <a href="https://github.com/GermanMoFo/Void-Web"
        title="Github - Void Web">Void Web</a> - <a href="https://github.com/GermanMoFo/Void-Scribe-Unity"
        title="Github - Void Scribe Unity">Void Unity</a> - <a href="https://github.com/tonyfra/Frontend-VoidScribe"
        title="Github - Void React (Mobile App)">Void React</a></p>
    <p style="text-align: center;">Directory</p>
    <p style="text-align: center;"><a href="http://www.voidscribe.com/Usage">Usage</a>
      - <a href="http://www.voidscribe.com/NameTypes">Name Types</a> - <a href="http://www.voidscribe.com/SentenceTypes">Sentence
        Types</a></p>
    <p style="text-align: center;">Contact Us:</p>
    <p style="text-align: center;"><a href="mailto:machinelearningmadlads@gmail.com">machinelearningmadlads@gmail.com</a></p>
    <p><br>
    </p>
  </body>
</html>
