<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>NameTypes</title>
  </head>
  <body>
    <h2>Name Types</h2>
    <p>The following is a list of supported name types or name "themes" that can
      be used for the Name_Type argument in API requests.</p>
    <p>americanCities<br>
      americanCompanies<br>
      americanDesserts<br>
      americanForenames<br>
      americanStates<br>
      animalSounds<br>
      animals<br>
      artTypes<br>
      birdCommonNames<br>
      boardGames<br>
      boatTypes<br>
      bodyParts<br>
      breads<br>
      breakfastCereals<br>
      britishDesserts<br>
      brythonicDesserts<br>
      buildingTypes<br>
      cakes<br>
      capitolCities<br>
      carBrands<br>
      carParts<br>
      chineseCities<br>
      citiesWorldWide<br>
      clothing<br>
      cocktails<br>
      colours<br>
      constellationsModern<br>
      cookingUtensils<br>
      countries<br>
      cryptocurrencies<br>
      currencies<br>
      danceStyles<br>
      dataStructures<br>
      dinosaurs<br>
      diseases<br>
      dogNames<br>
      dragons<br>
      drinks<br>
      dutchForenames<br>
      egyptianDeities<br>
      emotions<br>
      englishTowns<br>
      ethnicGroupsContemporary<br>
      fabrics<br>
      fellsInCambria<br>
      fish<br>
      flowersCommonNames<br>
      frenchForenames<br>
      fruit<br>
      furniture<br>
      germanForenames<br>
      germanTowns<br>
      greekIslands<br>
      herbsCommonNames<br>
      hinduDeities<br>
      hobbies<br>
      homeAppliances<br>
      iselandicForenames<br>
      indianForenames<br>
      irishForenames<br>
      italianCities<br>
      italianFoods<br>
      italianForenames<br>
      japaneseCities<br>
      japaneseForenames<br>
      langauges<br>
      magicSpells<br>
      meats<br>
      minerals<br>
      musicalInstruments<br>
      musicalStyles<br>
      mythicalHumanoids<br>
      norseDeityForenames<br>
      norwegianFjords<br>
      nutsAndSeeds<br>
      periodicElements<br>
      personalityTraits<br>
      philosophies<br>
      pies<br>
      placesInCumbria<br>
      plantsCommonNames<br>
      pokemon<br>
      pokemonModern<br>
      professions<br>
      programmingLanguages<br>
      religions<br>
      romanDeities<br>
      romanEmperorForenames<br>
      romanPlacesNames<br>
      rooms<br>
      russianCities<br>
      russianForenames<br>
      sandwiches<br>
      satellitesNatural<br>
      scientificDisciplines<br>
      scottishSurnames<br>
      snakesCommonNames<br>
      spanishForenames<br>
      sports<br>
      starsProperNames<br>
      supermarketsAndDiscountStores<br>
      swedishForenames<br>
      swissCities<br>
      test<br>
      theologicalAngels<br>
      theologicalDemons<br>
      tolkienesqueForenames<br>
      unitsOfHeroesOfMightAndMagic3<br>
      UnixCommands<br>
      vegetables<br>
      weaponsOld<br>
      websites<br>
      werewolfForenames</p>
  </body>
</html>
